html, body {
	height: 100vh;
	direction: rtl;
	font-family: iryekan, Montserrat, cursive;
}

body {
	a.navbar-brand {
		font-family: Lalezar, Source Code Pro, cursive;
		font-size: 25px;
		& img {
			width: 50px;
			height: auto;
			vertical-align: -21px;
		}

		& h1 {
			font-size: 30px;
		}
	}
}